:root{
  --brend-color: #fd5103;
  --light-text-color: #fcfcfc;
  --dark-text-color: #202025;
  --light-bg-color: #fcfcfc;
  --dark-bg-color: #202025;
  --primary-text-color: #5f6775;
  --btn-color: #fe7031;
  --btn-hover: #fcfcfc;

  --switch-bg: #fd5103;
  --switch-color: #fd5103;

  --search-list: #202025;
  --search-border: #fd5103;

  --checkbox-color-light: #fd5103;
  --checkbox-color-dark: #202025;
  --heart-color: #f5f5f5;
  --hover-color: #f5f5f5;
}

[data-theme='dark'] {
  --light-text-color: #202025;
  --dark-text-color: #fcfcfc;
  --light-bg-color: #202025;
  --dark-bg-color: #fcfcfc;

  --switch-bg: #fcfcfc;
  --switch-color: #fcfcfc;

  --search-list: #fcfcfc;
  --search-border: #fcfcfc;

  --checkbox-color-light: #fcfcfc;
  --checkbox-color-dark: #fd5103;

  --heart-color: #202025;
  --hover-color: #f5f5f5;
}