:root {
  --brend-color: #fd5103;
  --light-text-color: #fcfcfc;
  --dark-text-color: #202025;
  --light-bg-color: #fcfcfc;
  --dark-bg-color: #202025;
  --primary-text-color: #5f6775;
  --btn-color: #fe7031;
}
