<section class="hero">
  <div class="container hero__container">
    <!---------- Hero Title ---------->
    <h1 class="hero__title">A party without cocktails is not like a party</h1>

    <!---------- Hero Image ---------->
    <div class="hero-img"></div>

    <!----------- Hero Text ----------->
    <p class="hero__text">Search your favorite cocktail by ABC</p>

    <!----------- Search By Letter ---------->
    <div class="hero-overlay">
      <button class="hero-btn">A<span class="hero-btn--arrow"></span></button>

      <div class="hero-search">
        <ul class="hero-list">
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">A</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">B</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">C</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">D</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">E</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">F</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">G</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">H</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">I</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">J</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">K</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">L</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">M</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">N</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">O</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">P</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">Q</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">R</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">S</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">T</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">U</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">V</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">W</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">X</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">V</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">Z</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn hero-search__btn--el" type="button">
              1
            </button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">2</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">3</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">4</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">5</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">6</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">7</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">8</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">9</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">0</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- ========== Section Sorry ========= hidden-->
<section class="sorry hidden">
      <div class="sorry__no-find">
        <h2 class="sorry__title">Sorry, we didn't find any cocktail for you</h2>
        <picture class="sorry__img">
          <source
            srcset="
              ./img/sorry-768.png 1x,
              ./img/sorry-768@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/sorry-480.png 1x, ./img/sorry-480@2x.png 2x"
            media="(min-width: 320px)"
            width="280"
          />
          <img src="./img/sorry-768.png" alt="Sorry" />
        </picture>
      </div>
    </section>
  </div>
</section>
