<div class="coctail-igredient-modal is-hidden">
  <div class="backdrop-coctail-igredient-modal"></div>

  <div class="coctail-igredient-modal__wrap">
    <div class="coctail-ingredients-modal__container">
      <div class="cocktail-ingredients-modal-contents">
        <h1>here will be content</h1>
      </div>
      <button
        data-coctail-igredient-modal-close
        type="button"
        class="coctail-info-modal-close"
      >
        <svg class="icon-cocktail-modal" width="21" height="19">
          <use href="./img/icons.svg#icon-cross"></use>
        </svg>
      </button>
      <button type="button" class="button-more modal-add">
        Add to favorite
      </button>
    </div>
  </div>
</div>
