<div class="coctail-info-modal is-hidden" data-coctail-info-modal>
    <div class="backdrop-coctail-info-modal">
    
    </div>
    <div class="coctail-info-modal__wrap">
        <div class="coctail-info-modal__container">
            <div class="cocktail-info-modal-contents">
                
            </div>
            <button data-coctail-info-modal-close type="button" class="coctail-info-modal-close"></button>
            <button type="button" class="button-more modal-add">Add to favorite</button>
            <!-- <button type="button" class="button-more modal-remove">Remove from favorite</button> -->
        </div>
    </div>
</div>