.icon {
  fill: var(--heart-color);
  &:hover {
    fill: var(--hover-color);
  }
}

.button-add {
    @include font(600, 14px, 1.71, 0.02em);
    display: flex;
    gap: 8px;
    align-items: center;
    min-width: 108px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 4px;
    border: 1px solid var(--brend-color);
    border-radius: 4px;
    background: transparent;
    font-family: 'Roboto';
    text-align: center;
    justify-content: center;
    color: var(--btn-color);
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: #f5f5f5;
      .icon {
        fill: var(--hover-color);
      }
    }
    &:active {
      background-color: transparent;
    }
  
    @include tablet {
      gap: 0;
      min-width: 123px;
      padding-top: 12px;
      padding-bottom: 12px;
      @include font(null, 20px, 1.2, null);
    }
  
    @include desktop {
      min-width: 141px;
    }
  }
  .button-more {
    @include font(600, 14px, 1.71, 0.02em);
    min-width: 110px;
    align-items: center;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 1px solid transparent;
    border-radius: 4px;
    background: var(--btn-color);
    font-family: 'Roboto';
    text-align: center;
    
    color: #ffff;
    cursor: pointer;
    // transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: #f5f5f5;
      color: var(--brend-color);
    }
    &:active {
      background-color: var(--brend-color);
      color: #ffff;
    }
  
    @include tablet {
      min-width: 160px;
      padding-top: 12px;
      padding-bottom: 12px;
      @include font(null, 20px, 1.2, null);
    }
  
    @include desktop {
      min-width: 182px;
    }
  }
  
  .button-remove {
    @include font(600, 14px, 1.71, 0.02em);
    display: flex;
    gap: 8px;
    align-items: center;
    min-width: 108px;
    padding-top: 6px;
    padding-bottom: 7px;
    border-radius: 4px;
    border: 1px solid var(--brend-color);
    border-radius: 4px;
    background: transparent;
    font-family: 'Roboto';
    text-align: center;
    justify-content: center;
    color: var(--btn-color);
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: #f5f5f5;
    }
    &:active {
      background-color: transparent;
    }
  
    @include tablet {
      gap: 0;
      min-width: 123px;
      padding-top: 12px;
      padding-bottom: 12px;
      @include font(null, 20px, 1.2, null);
    }
  
    @include desktop {
      min-width: 141px;
    }
  }