.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  @include mobile {
    max-width: 480px;
  }
  @include tablet {
    max-width: 768px;
    padding-left: 33px;
    padding-right: 33px;
  }
  @include desktop {
    max-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
