.intgredients-section {
  padding-top: 90px;
  padding-bottom: 60px;
  margin: 0 auto;
  text-align: center;
}
.ingredients__title {
  font-family: 'Poppins', sans-serif;
  @include font(600, 22px, 42px, 1.5);

  @include tablet {
    @include font(600, 32px, 42px, 1.5);
  }
  @include desktop {
    @include font(700, 48px, 72px, 1.5);
  }
}

.ingredients-list {
  margin-top: 60px;
  width: 280px;
  @include tablet {
    display: grid;
    grid-template-columns: repeat(2, 335px);
    gap: 32px;
  }
  @include desktop {
    display: grid;
    grid-template-columns: repeat(3, 395px);
    gap: 32px;
  }
}

.button__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  @include tablet {
    gap: 12px;
  }
  @include desktop {
    gap: 16px;
  }
}

.ingredient-card__description {
  color: var(--dark-text-color);
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  @include font(600, 26px, 42px, 1.5);

  @include tablet {
    color: var(--primary-text-color);
    margin-bottom: 28px;
    @include font(600, 16px, 24px, 1.5);
  }
  @include desktop {
    color: var(--primary-text-color);
    margin-bottom: 28px;
    @include font(600, 16px, 24px, 1.5);
  }
}
.ingredient-card__title {
  margin-bottom: 16px;
  font-family: 'Roboto', sans-serif;
  @include font(900, 26px, 42px, 1.5);

  @include tablet {
    margin-bottom: 25px;
    @include font(900, 28px, 33px, 1.5);
  }
  @include desktop {
    margin-bottom: 27px;
    @include font(900, 32px, 38px, 1.5);
  }
}

.ingredient__card {
  text-align: left;
  padding: 30px 28px 26px;
  border: 1px solid #fd5103;
}
