.gallery {
  margin: 0 auto;
  text-align: center;
}
.gallery__headling {
  font-family: 'Poppins', sans-serif;
  @include font(600, 22px, 42px, 1.5);
  color: var(--dark-text-color);
  @include tablet {
    @include font(600, 32px, 42px, 1.5);
  }
  @include desktop {
    @include font(700, 48px, 72px, 1.5);
  }
}

.gallery__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    // width: 280px;
    @include tablet {
        display: grid;
        grid-template-columns: repeat(2, 335px);
        gap: 32px;
    }
    @include desktop {
        display: grid;
        grid-template-columns: repeat(3, 395px);
        gap: 32px;
    }
    
}

.gallery__link {
  height: 100%;
  display: flex;
  flex-direction: column;
 }

.gallery__card {
    // height: 449px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #FD5103;

    // @include tablet{
    //     height: 541px;
    // }

    @include desktop {
        height: 556px;
    }
}



.gallery__card img {
  display: block;
  max-width: 100%;
}

.gallery__info {
    // min-width: 280px;
    // min-height: 169px;
    // height: 100%;
    // align-content: space-between;
    flex-shrink: 1;
    margin-top: 20px;
    margin-bottom: 27px;
    text-align: center;
    @include tablet {
    // height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    }
    @include desktop {
    // height: 130px;
    margin-bottom: 0px;
    justify-content:start;
    }

  
}

.gallery__title {
  display: block;
  margin-top: 48px;
  margin-bottom: 16px;
  font-family: 'Roboto', sans-serif;
  @include font(900, 26px, 42px, 1.5);
  color: var(--dark-text-color);
    @include tablet {
        margin-top: 20px;
        margin-bottom: 25px;
        @include font(900, 28px, 33px, 1.5)
    }
    @include desktop {
        margin-bottom: 27px;
        margin-top: 0px;

        @include font(900, 29px, 38px, 1.5)
    }

}

.button__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  @include tablet {
    gap: 12px;
  }
  @include desktop {
    gap: 16px;
  }
}

.icon {
  fill: var(--light-bg-color);
}
