.backdrop-coctail-info-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .2);
    ;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }
}

.cocktail-info-modal-contents {
    @include tablet {
        align-self: stretch;
        row-gap: 28px;
        column-gap: 32px;
        display: grid;
        grid-template-columns: 288px auto;
        grid-template-rows: auto auto;
    }
}

.coctail-info-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    animation-fill-mode: none;
    opacity: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;

    &__container {
        background-color: var(--light-bg-color);
        width: 320px;
        padding: 40px 25px 20px;
        position: relative;

        @include tablet{
            width: 822px;
            padding-right: 28px;
            padding-top: 0;
            padding-left: 0;
            padding-bottom: 28px;
            align-items: flex-end;
            flex-direction: column;
            display: flex;
            
        }
    }

    &__wrap {
        max-height: 98%;
        overflow-y: auto;
    }
}


button.coctail-info-modal-close {
    background-repeat: no-repeat;
    background-color: white;
    border: 0;
    width: 17px;
    height: 17px;
    top: 23px;
    right: 23px;
    position: absolute;
}
.icon-cocktail-modal {
    fill: var(--dark-bg-color);
}

.modal-cocktail-ingredients {
    @include tablet {
        grid-row-start: 2;

    }
}

.modal-cocktail-name{
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 1.18;
    color: var(--dark-text-color);
    @include tablet {
        margin-top: 40px;
        margin-bottom: 0;
    }
}

.modal-cocktail-instructions {
    @include tablet {
       margin-left: 28px;
    }
}

.modal-cocktail-instructions-title {
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.62;
    text-transform: uppercase;
    color: var(--dark-text-color);
    @include tablet {
        margin-bottom: 24px;
    }
}

.modal-cocktail-instructions-text {
    margin-bottom: 32px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #5F6775;
    @include tablet{
        width: 615px;
    }
}

.modal-cocktail-picture {
    width: 280px;
    height: 280px;
    margin-bottom: 22px;
    border-radius: 4px;

    @include tablet {
        grid-row-end: 3;
        grid-column-start: 1;
        grid-row-start: 1;
        margin-bottom: 0;
        width: 288px;
        height: 320px;
    }
}

.modal-cocktail-ingredients-title {
    margin-bottom: 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #000917;
}

.modal-per-cocktail {
    margin-bottom: 8px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
    color: var(--dark-text-color);
}

.modal-cocktail-ingredients-list {
    margin-bottom: 32px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.62;
    color: #000917;
}

.button-more.modal-add {
    
}

